<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''" [class.hide]="!sidebarService.isOpen">
    <a href="#" class="brand">
        <i class="bx"></i>
        <span class="text">Content App</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a href="#">
                <i class="bx bxs-dashboard"></i>
                <span class="text">Home</span>
            </a>
        </li>
        <li class="active">
            <a href="/history">
                <i class="bx bxs-detail"></i>
                <span class="text">Content Generator</span>
            </a>
        </li>
        <li>
            <a href="/report">
                <i class="bx bxs-doughnut-chart"></i>
                <span class="text">Report Usage</span>
            </a>
        </li>
    </ul>
    <div class="copyright">
        <i class='bx bx-copyright'></i>
        <span>2023 ProPS. All rights reserved.</span>
    </div>
</section>
<!-- SIDEBAR -->
<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i (click)="addToggle()" class="bx bx-menu"></i>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search..." />
                <button type="button" class="search-btn">
                    <i class="bx bx-search"></i>
                </button>
            </div>
        </form>
        <div class="relative" (click)="toggleProfileDropdown()">
            <button type="button"
                class="rounded-full transition-opacity duration-200 dark:opacity-75 dark:hover:opacity-100 focus:outline-none focus:ring dark:focus:opacity-100">
                <span class="sr-only">User menu</span>
                <img class="w-10 h-10 rounded-full"
                    src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
                    alt="Profile" />
            </button>

            <!-- User dropdown menu -->
            <div *ngIf="isProfileDropdownOpen"
                class="absolute right-0 w-48 bg-white rounded-md shadow-lg top-12 ring-1 ring-black ring-opacity-5 dark:bg-dark focus:outline-none">
                <a href="#" style="margin: 10px; transition: border-radius 0.3s ease-in-out;"
                    class="block py-2 px-4 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    onmouseover="this.style.borderRadius='0.5rem'">
                    Your Profile
                </a>
                <a href="#" style="margin: 10px; transition: border-radius 0.3s ease-in-out;"
                    class="block py-2 px-4 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    onmouseover="this.style.borderRadius='0.5rem'">
                    Settings
                </a>
                <a href="#" style="margin: 10px; transition: border-radius 0.3s ease-in-out;"
                    class="block py-2 px-4 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                    onmouseover="this.style.borderRadius='0.5rem'" (click)="logout()">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class="bx bx-chevron-right"></i></li>
                    <li>
                        <a class="active" href="#">Content Generator</a>
                    </li>
                </ul>
            </div>
        </div>
        <mat-accordion style="padding: 26px;">
            <mat-expansion-panel *ngFor="let panel of panels; let i = index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ panel.title }}
                  </mat-panel-title>
                  <mat-panel-description>
                    17/02/2023
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-4 text-gray-600">
                    <div [innerHTML]="panel.content"></div>
                  </div>
                <mat-action-row>
                  <button mat-button color="warn" (click)="removePanel(i)">Remove</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>

    </main>
    <div class="example-content">
        <button *ngIf="showScrollButton" class="scroll-button" mat-mini-fab color="primary" aria-label="Scroll to top" (click)="scrollToTop()">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
    </div>
    <!-- MAIN -->
</section>
<!-- CONTENT -->]