<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''" [class.hide]="!sidebarService.isOpen">
	<a href="#" class="brand">
		<i class="bx"></i>
		<span class="text">Content App</span>
	</a>
	<ul class="side-menu top">
		<li class="active">
			<a href="#">
				<i class="bx bxs-dashboard"></i>
				<span class="text">Home</span>
			</a>
		</li>
		<li>
			<a href="/history">
				<i class="bx bxs-detail"></i>
				<span class="text">Content Generator</span>
			</a>
		</li>
		<li>
			<a href="/report">
				<i class="bx bxs-doughnut-chart"></i>
				<span class="text">Report Usage</span>
			</a>
		</li>
	</ul>
	<div class="copyright">
		<i class='bx bx-copyright'></i>
		<span>2023 ProPS. All rights reserved.</span>
	</div>
</section>
<!-- SIDEBAR -->
<!-- CONTENT -->
<section id="content">
	<!-- NAVBAR -->
	<nav>
		<i (click)="addToggle()" class="bx bx-menu"></i>
		<form action="#">
			<div class="form-input">
				<input type="search" placeholder="Search..." />
				<button type="button" class="search-btn">
					<i class="bx bx-search"></i>
				</button>
			</div>
		</form>
		<div class="relative" (click)="toggleProfileDropdown()">
			<button type="button"
				class="rounded-full transition-opacity duration-200 dark:opacity-75 dark:hover:opacity-100 focus:outline-none focus:ring dark:focus:opacity-100">
				<span class="sr-only">User menu</span>
				<img class="w-10 h-10 rounded-full"
					src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
					alt="Profile" />
			</button>

			<!-- User dropdown menu -->
			<div *ngIf="isProfileDropdownOpen"
				class="absolute right-0 w-48 bg-white rounded-md shadow-lg top-12 ring-1 ring-black ring-opacity-5 dark:bg-dark focus:outline-none">
				<a href="#" style="margin: 10px; transition: border-radius 0.3s ease-in-out;"
					class="block py-2 px-4 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
					onmouseover="this.style.borderRadius='0.5rem'">
					Your Profile
				</a>
				<a href="#" style="margin: 10px; transition: border-radius 0.3s ease-in-out;"
					class="block py-2 px-4 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
					onmouseover="this.style.borderRadius='0.5rem'">
					Settings
				</a>
				<a href="#" style="margin: 10px; transition: border-radius 0.3s ease-in-out;"
					class="block py-2 px-4 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
					onmouseover="this.style.borderRadius='0.5rem'" (click)="logout()">
					Logout
				</a>
			</div>
		</div>
	</nav>
	<!-- NAVBAR -->

	<!-- MAIN -->
	<main>
		<div class="head-title">
			<div class="left">
				<h1>Dashboard</h1>
				<ul class="breadcrumb">
					<li>
						<a href="#">Dashboard</a>
					</li>
					<li><i class="bx bx-chevron-right"></i></li>
					<li>
						<a class="active" href="#">Home</a>
					</li>
				</ul>
			</div>
		</div>
		<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"
			style="margin-top: 26px;background-color: #F9F9F9;padding: 15px;border-radius: 8px;">
			<mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.title">
				<div style="margin-top: 15px;">
					<button mat-raised-button class="example-add-tab-button" (click)="addTab(selectAfterAdding)"
						[disabled]="tabs.length >= 2" style="margin-right: 10px;margin-left: 4px;">
						Add tab
					</button>
					<button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1"
						(click)="removeTab(index)">
						Delete Tab
					</button>
				</div>
				<div style="margin-top: 30px;">
					<label for="message" class="font-medium text-gray-900">Title or
						Keywords</label>
					<div class="flex">
						<input [(ngModel)]="tab.userInput" id="message" type="text" style="padding: 8px;"
							class="w-1/2 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 focus:outline-none placeholder-gray-400"
							placeholder="Write your thoughts here..." required>
						<button mat-flat-button color="primary" style="margin-left: 10px;"
							(click)="generateClicked(index)" [disabled]="generateDisabled[index]">
							Generate
						</button>
						<button mat-flat-button color="warn" style="margin-left: 6px;" (click)="resetInputs(index)">
							Reset
						</button>
					</div>
					<!-- <div class="line"></div> -->
					<div class="mt-5 flex bg-white rounded-lg shadow-md" [class.hidden]="!showCard[index]"
						[class.fade-in]="showCard[index]" style="border: 1px solid #ddd;padding: 30px;">
						<div class="w-2/3 p-4 border-r border-gray-300">
							<a class="text-2xl text-gray-700 font-bold hover:text-gray-600"
								style="margin-bottom: 0.5rem;">Resep Ayam Goreng</a>
							<p class="mt-4 text-gray-600" style="margin-top: 1rem;">
								<strong>Judul:</strong> Ayam Goreng Lengkuas: Paduan Kelezatan yang Memukau<br>
								<br>
								<strong>Pengantar:</strong><br>
								Siapa yang bisa menolak kelezatan ayam goreng yang renyah di luar, tetapi tetap lembut
								dan juicy di dalamnya? Ditambah lagi, jika disertai dengan sentuhan eksotis rempah
								lengkuas, hidangan ini akan menjadi sajian yang tak terlupakan. Dalam artikel ini, kita
								akan mengungkap resep rahasia ayam goreng lengkuas yang membuat lidah bergoyang dan hati
								senang. Siapkan diri Anda untuk menjelajahi dunia rasa yang menggoda!<br>
								<br>
								I. Bahan-bahan yang Diperlukan:<br>
								Sebelum memasak, pastikan untuk menyiapkan bahan-bahan berikut:<br>
								500 gram ayam, potong menjadi bagian yang lebih kecil<br>
								3 batang serai, memarkan bagian putihnya<br>
								4 lembar daun jeruk, sobek-sobek<br>
								2 ruas lengkuas, memarkan dan iris tipis<br>
								4 siung bawang putih, cincang halus<br>
								2 sendok teh garam<br>
								1 sendok teh gula<br>
								1 sendok teh merica bubuk<br>
								Minyak goreng secukupnya untuk menggoreng<br>
								<br>
								II. Langkah-langkah Memasak:<br>
								Berikut adalah langkah-langkah untuk menciptakan ayam goreng lengkuas yang sempurna:<br>
								Langkah 1: Marinasi<br>
								Campurkan ayam potong dengan bawang putih cincang, serai, daun jeruk, lengkuas, garam,
								gula, dan merica bubuk dalam sebuah wadah.<br>
								Aduk rata dan biarkan marinate selama minimal 30 menit agar rempah meresap dengan
								baik.<br>
								Langkah 2: Penggorengan<br>
								Panaskan minyak dalam wajan dengan api sedang-tinggi.<br>
								Tambahkan ayam yang telah dimarinasi ke dalam wajan dengan hati-hati. Pastikan tidak
								menumpuk ayam agar dapat matang dengan merata.<br>
								Goreng ayam hingga berwarna kecokelatan dan renyah di luar serta matang sempurna di
								dalam. Proses ini biasanya memakan waktu sekitar 10-15 menit.<br>
								Angkat ayam dan tiriskan minyak berlebih dengan menggunakan kertas dapur.<br>
								Langkah 3: Sajian<br>
								Ayam goreng lengkuas siap disajikan! Hidangkan dengan nasi hangat, sambal favorit, dan
								irisan mentimun segar untuk memberikan sentuhan kesegaran yang menyegarkan.<br>
								<br>
								III. Nikmati Kelezatan Ayam Goreng Lengkuas Anda!<br>
								Ayam goreng lengkuas yang lezat ini dapat dinikmati sebagai hidangan utama dalam acara
								keluarga, makan siang bersama teman-teman, atau bahkan sebagai hidangan spesial untuk
								perayaan tertentu. Nikmati kelezatan ayam yang renyah dengan balutan aroma lengkuas yang
								khas, dan rasakan sentuhan rempah yang memikat hati Anda.<br>
								<br>
								<strong>Penutup:</strong><br>
								Dengan resep ayam goreng lengkuas ini, Anda dapat menciptakan hidangan yang tidak hanya
								menggugah selera tetapi juga memberikan pengalaman kuliner yang tak terlupakan.
								Kombinasi sempurna antara rasa ayam yang juicy dengan keharuman lengkuas yang eksotis
								akan memanjakan lidah dan memuaskan hasrat kuliner Anda. Jadi, siapkan rempah-rempah
								Anda dan mulailah petualangan memasak dengan ayam goreng lengkuas yang menggoda ini.
								Selamat mencoba dan selamat menikmati!
							</p>
						</div>
						<div class="w-1/3" style="margin-left: 8px;">
							<button mat-flat-button color="primary" (click)="openModal()">
								Generate Pictures
							</button>
							<div *ngIf="selectedImagesUrls.length > 0" class="selected-images" style="margin-top: 10px;">
								<div class="selected-images-container">
								  <img *ngFor="let imageUrl of selectedImagesUrls" [src]="imageUrl" alt="Selected Image" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>
	</main>
	<!-- MAIN -->
</section>
<!-- CONTENT -->]