<h2 mat-dialog-title style="background-color: #3C91E6; color: #fff;">Select Pictures</h2>
<mat-dialog-content class="mat-typography">
  <div class="image-gallery">
    <!-- Create 15 selectable images -->
    <ng-container *ngFor="let image of imageList; let i = index">
      <label class="image-checkbox">
        <input type="checkbox" [(ngModel)]="selectedImages[i]" [value]="image" />
        <img [src]="image" alt="Image {{ i + 1 }}" />
      </label>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="closeModal()">Cancel</button>
    <button mat-button (click)="closeModal()">Save</button>
</mat-dialog-actions>
